.dashboard_container {
    text-align: center;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    display: flex;
    align-content: center;
    height: 100%;
}

.dashboard_btn {
    align-self: center;
    color: #420000;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 10px;
    text-shadow: 1px 2px 8px #9b3367;
    font-family: Franchise;
    font-size: 8rem;

}

.dashboard_btn:hover {
    transition: all ease .2s;
    font-family: FranchiseFilled;
    color: #42000081;
    font-size: 7rem;


}

.dashboard_btn:active {
    transform: translateY(5px);
    color: #42000036;
}

.card_container {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    white-space: 1rem;
    padding: 3rem;
}

.card {
    background-color: #5c5c5c;
    width: 22rem;
    height: 30rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    user-select: none;

    hr {
        width: 80%;
        border: 1px solid #E7AB79;
    }
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    scale: 1.1;
}

.card_avatar {
    border-radius: 50%;
    height: 5rem;
    border: 5px solid #E7AB79;
}

.header_card {
    padding: 2rem;
    display: flex;
    flex-flow: row;
    justify-content: baseline;
}

.card_name {
    color: rgb(214, 214, 214);
    text-shadow: 1px 2px 8px #ec8734;
    font-family: Franchise;
    font-size: 40px;
}

.card_btnContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 60px;
    justify-content: space-between;
}

.card_btn {
    display: flex;
    flex-flow: row;
    width: fit-content;
    margin: 10px;

    img {
        height: 4rem;
        border-radius: 50%;
    }
}

.git_btn {
    background-color: rgb(209, 209, 209);
    border-radius: 10px;
}

.card_btnIcon {
    color: #420000;
}