.dashboard_container {
    text-align: center;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    display: flex;
    align-content: center;
    height: 100%;
}

.dashboard_btn {
    align-self: center;
    color: #420000;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 10px;
    text-shadow: 1px 2px 8px #9b3367;
    font-family: Franchise;
    font-size: 8rem;

}

.dashboard_btn:hover {
    transition: all ease .2s;
    font-family: FranchiseFilled;
    color: #42000081;
    font-size: 7rem;


}

.dashboard_btn:active {
    transform: translateY(5px);
    color: #42000036;
}