body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Franchise";
  src: local("Franchise"),
   url("./fonts/franchise/Franchise.ttf") format("truetype");
  font-weight: bold;
  }

  @font-face {
    font-family: "FranchiseFilled";
    src: local("FranchiseFilled"),
     url("./fonts/franchise/FranchiseFilled.ttf") format("truetype");
    font-weight: bold;
    }